<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Name of this site</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/custom.css" %}">
        <script src="{% static "jquery.min.js" %}"></script>
        <script src="{% static "js/boot.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>

    </head>

<body>

<p>
  {{ static }}
</p>

    <div class = "col-xs-0 col-md-2">
    </div>

    <div class = "col-xs-12 col-md-8">
        <div class="container-fluid">
            <h1 class = "rounded-edges">Schedule and book your group trip</h1>
            <p class = "rounded-edges">To schedule your group trip choose the flights that suit you personally the best. We try to make sure... Once everyone has voted, you will get a link to begin the booking process for the flight that suited everyone, if, however, there will not be a flight that suited everyone, you will get another link with different options.</p>
        </div>

        <div class="container-fluid">
            <h1 class = "rounded-edges">Please vote below!</h1>
            <p class = "rounded-edges">Choose your preferences by ticking the box. Note: if you choose maybe ...Please choose as many options as you like and be happy!</p>

            <div class="pollTable">
                <table width = "100%" border="1" id = "pollTable" rules = "rows" frame = "hsides">
                    <tr>
						<td><h2>  </h2></td>
                        <td><h2> Price </h2></td>
                        <td><h2> Depart From: </h2></td>
                        <td><h2> To: </h2></td>
                        <td><h2> Depart Date </h2></td>
                        <td><h2> Return From: </h2></td>
                        <td><h2> To: </h2></td>
                        <td><h2> Return Date</h2></td>
                        <td><h2> Decision </h2></td>
                        <td><h3> Name </h3></td>
                        <td><h3> Email </h3></td>
                        {% for flight in flights %}
                        <td><h3> {{ flight }}</h3></td>
                        {% endfor %}
                    </tr>

                    {% for person in people %}
                    <tr>
                        <td><select>
							<option value="Name">{{ person.name }}</option>
							</select>
						</td>
                        <td>{{ person.email }}</td>
                        {% for flight in flights %}
                        <td>

                        <div class = "first cell" id = "{{ person.email }}{{ flight }}">
                                <div class="row-xs-1 row-md-1" >
                                    <div class="input-group">
                                        <input type="radio" name="radio{{ person.email }}{{ flight }}" onclick="document.getElementById('{{ person.email }}{{ flight }}').style.backgroundColor=this.checked?'#CAFF70':'#B2DFEE';">
                                        Yes</div></div>
                                <div class="row-xs-1 row-md-1">
                                    <div class="input-group">
                                        <input type="radio" name="radio{{ person.email }}{{ flight }}" onclick="document.getElementById('{{ person.email }}{{ flight }}').style.backgroundColor=this.checked?'#FFF0F5':'#B2DFEE';">
                                        Maybe</div></div>
                                <div class="row-xs-1 row-md-1">
                                    <div class="input-group">
                                        <input type="radio" name="radio{{ person.email }}{{ flight }}" onclick="document.getElementById('{{ person.email }}{{ flight }}').style.backgroundColor=this.checked?'#FF6347':'#B2DFEE';">
                                        No</div></div></div></td>
                        {% endfor%}
                    </tr>
                        {% endfor %}

                </tbody>
                </table>
            </div>
            <br>

            <div class="submitButton">
                <button type="button" class="btn btn-primary btn-block btn-sm">Submit</button>
            </div>
        </div>
    </div>

    <div class = "col-xs-0 col-md-2">
    </div>
</body>
</html>
