/* search form prettiness */

/*moves form down */
.mainbit {
	padding-top: 50px;

}

.rounded-edges {
	border-radius: 20px;
}

.ui-autocomplete
{
	position:absolute;
	cursor:default;
	z-index:4000 !important
}
#namesdrop {
	margin-bottom: 10px;
}

body {
    background-image: url("greyzz.png");
}


h3 {
	font-family: 'Roboto Condensed', sans-serif;
}

#logo {
	background-color: #34363D;
