/* search form prettiness */

/*moves form down */
.mainbit {
	padding-top: 100px;
}

.rounded-edges {
	border-radius: 20px;
}

.ui-autocomplete
{
	position:absolute;
	cursor:default;
	z-index:4000 !important
}